.main{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid blue;
}

.main span{
    display: flex;
   
}
.main span h3{
    padding: 0 10px;
    color: rgb(161, 0, 0);
}

.items{
    font-weight: inherit;
    color: rgba(196, 18, 18, 0.788);
    padding: 0 10px;
    margin: auto;
    font-style: italic;
}

.heading{
    display: flex;
    justify-content: center;
    color: #ff000c;
}
.edit_button{
    height: 30px;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 2%;
    background-color: rgba(0, 128, 0, 0.76);
    border-radius: 5px;
}
.delete_button{
    height: 30px;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 2%;
    background-color: rgba(255, 0, 0, 0.801);
    border-radius: 5px;
}

.edit_button:hover{
    background-color: green;
}

.delete_button:hover{
    background-color: red;
}